:root {
  --color-primary: #1436eb;
}
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  color: #777;
  line-height: 1.7;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.header {
  height: 100vh;
  background-image: url(../img/background-img.png);
  background-size: cover;
  background-position: top;
}

.header__nav {
  width: 100vw;
  height: 6.3rem;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.05);
}
.header__nav-container {
  display: flex;
  justify-content: space-between;
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
}
.header__logo {
  height: 6.3rem;
}
.header__list {
  display: flex;
  align-items: center;
  list-style: none;
}
.header__link:link,
.header__link:visited {
  font-weight: 600;
  font-size: 1.8rem;
  color: #222;
  text-decoration: none;
  display: block;
  margin: auto 2rem;
}
.header__link--btn:link,
.header__link--btn:visited {
  padding: 0.8rem 2.5rem;
  border-radius: 0.7rem;
  background-color: var(--color-primary);
  color: #fff;
}
.header_link-help {
  height: 6.1rem;
  display: flex;
  align-items: center;
  border-bottom: 0.2rem solid transparent;
}
.header_link-help--active {
  border-bottom: 0.2rem solid var(--color-primary);
}
.hidden {
  display: none;
}

.container {
  background: #ffffff;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  width: 400px;
}

.form {
  padding: 30px 40px;
}

.login_form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.login_form-control label {
  color: #777;
  display: block;
  margin-bottom: 5px;
}

.login_form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.login_form-control input:focus {
  outline: 0;
  border-color: #777;
}

.form button {
  cursor: pointer;
  background-color: #3498db;
  border: 2px solid #3498db;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
}
